<form method="post" action="{{ path('jeux_delete', {'id': jeux.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce jeux ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeux.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
